@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.logo {
  height: 10em;
  position: absolute;
  top: -0.3em;
  left: -0.5em;
  will-change: filter;
  transition: 0.75s;
}

.row {
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

#imgbgd {
  background-image:url('/public/cnc.png');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  filter: blur(1.5px);
}

#imgbgdblur {
  position: absolute;
  top: min();
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFFB;
  z-index: -1;
}

.init-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.init-main>* {
  margin: 5vh 0 5vh 0;
  color: rgb(50, 160, 65);
  font-weight: 1000;
}

#edital{
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgb(50, 160, 65);
  font-weight: 1000;
}

.init-main > h1{
  font-size: 3rem;
}

.init-main > h2{
  font-size: 2.5rem;
}